@use "../../sass/variables";

.others {
  background: variables.$white;

  &Title {
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
  }

  &List {
    display: grid;
    grid-template-columns: repeat(2, 50px);
    grid-template-rows: repeat(2, 60px);
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    grid-gap: 10px 30px;

    &Element {
      list-style-type: none;
      background: variables.$light-blue;
      padding: 3px;
      border-radius: 15px;

      > img {
        width: 100%;
      }
    }
  }
}
