@use "../../sass/variables";

.others {
  background: variables.$white;

  &Title {
    font-weight: bold;
    text-align: center;
    padding-top: 10px;

    @media (min-width: 768px) {
      width: 20%;
      align-self: center;
      margin-right: 20px;
      text-align: right;
      box-sizing: border-box;
    }
  }

  &List {
    display: grid;
    grid-template-columns: repeat(2, 50px);
    grid-template-rows: repeat(2, 60px);
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    grid-gap: 10px 30px;

    &Element {
      list-style-type: none;
      background: variables.$light-blue;
      padding: 3px;
      border-radius: 15px;

      &:hover {
        background-color: variables.$dark-blue;
        cursor: pointer;
      }

      @media (min-width: 768px) {
        width: 60px;
      }

      > img {
        width: 100%;
      }
    }

    @media (min-width: 768px) {
      display: flex;
      justify-content: flex-end;
      margin-right: 50px;
      width: 70%;
      gap: 50px;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
  }
}
